node_modules
.eslintcache
*.js
*.js.flow
*.d.ts
!/.babelrc.js
/packages/*/.eslintcache
/packages/*/*.js
/packages/*/*.js.flow
/packages/*/*.d.ts
/packages/*/coverage
/packages/*/.nyc_output
/packages/*/es
/packages/*/node_modules
!/packages/*/.babelrc.js
